{% extends 'base.html' %}
{% block titulo %}Agenda {% endblock %}
{% block content %}

    <h1>Evento</h1>
        <div class= "row">
        <div class = "col-lg-12">
            <small class ="text-danger text-center"> <!--Mensaje de error, modificacion, etc(sustituido abajo)-->
            {% if messages %}
                {% for message in messages%}
                    {{message | safe}} <br>,
                {% endfor%}
            {% endif %}
            </small>
        </div>
        </div>  

       
        <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>{{ evento.titulo }}</dtitle>
            <hr>
            <h1> {{ evento.titulo }}</p>
            <h1>{{ evento.fecha_inicio }}</p>

            {% if evento.telefono %}
            <h1>{{ telefono.nombreCliente}} {{ telefono.appCliente }} {{ telefono.apm}}</p>
            <hr>
            <h3>Imei: {{ telefono.IMEI}}</p>
            <p>Año: {{telefono.año}}</p>                
            </div>
                </div>

                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>{{ evento.titulo }}</dtitle>
                        <hr>
                        <p>{{ evento.get_tipo_evento_display }}</p>
                        <h3>{{ telefono.modelo }}</h3>
                        <p>{{ telefono.tipo_de_reparacion }}</p>
                        <p>Precio: {{ telefono.precio }}</p>
                        <p>Estado:{{telefono.status}}</p>
                        <!-- Otros detalles del producto -->
                            <div atyle="display: flex;">
                                <a href="{% url 'EventoEditar' pk=evento.id %}" class= "btn btn-success" type="button" style="flex: 1; margin: 5px;">Editar</a>
                                <a href = "#"class="btn btn-danger" type="submit" style="flex: 1; margin: 5px;">Eliminar</a> 
                            </div>
                        </div>
                    </div>

            

            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>{{ evento.titulo }}</dtitle>
                    <hr>
                    <h3></p>
                    <h3> </p>
                    <p></p>
                    <h3></h3>
                    <p></p>
                    <p></p>
                    <p></p>                
                    </div>
                </div>

            {% else %}
            <p>No hay información sobre el teléfono asociado a este evento.</p>
            {% endif %}
               
{% endblock %}