{% extends 'base.html' %}

{% block titulo %}Productos{% endblock %}

{% block content %} 
  <h1>Todos los Productos</h1>
    <div class= "row">
      <div class = "col-lg-12">
        <small class ="text-danger text-center"> <!--Mensaje de error, modificacion, etc-->
          {% if messages %}
              {% for message in messages%}
                {{message | safe}} <br>,
              {% endfor%}
          {% endif %}
        </small>
      </div>
    </div>  

    {% for Accesorio in Accesorio %}
    <div class="col-sm-3 col-lg-3">
      <div class="dash-unit">
        <dtitle>{{ Accesorio.categoria }}</dtitle>
        <hr>
    <div class="thumbnail">
      <img src="{{ Accesorio.imagen.url }}" alt="{{ Accesorio.modelo }}" class="img-circle">
    </div><!-- /thumbnail -->
    <h1>{{ Accesorio.marca }}</h1>
    <h3>{{ Accesorio.modelo }}</h3>
    <p>{{ Accesorio.descripcion }}</p>
    <p>Precio: {{ Accesorio.precio }}</p>
      <!-- Otros detalles del producto -->
      <div atyle="display: flex;">
        <a href= "{% url 'AccesorioEditar' pk=Accesorio.id %}" class= "btn btn-success" type="button" style="flex: 1; margin: 5px;">Editar</a>
        <a href = "{% url 'AccesorioEliminar' pk=Accesorio.id %}"class="btn btn-danger" type="submit" style="flex: 1; margin: 5px;">Eliminar</a> 
      </div>
    </div>
    </div>
     {% endfor %}
      
    

    <!-- <div class="container" >
      {% for Accesorio in Accesorio %}
       <!-- BLOCK 
      <div class="col-sm-3 col-lg-3">
          <img src="{{ Accesorio.imagen.url }}" alt="{{ Accesorio.modelo }}" >
          <h3>{{ Accesorio.marca }}</h3>
          <h3>{{ Accesorio.modelo }}</h3>
          <p>{{ Accesorio.descripcion }}</p>
          <p>Precio: {{ Accesorio.precio }}</p>
          <!-- Otros detalles del producto 
          <a href= "{% url 'AccesorioEditar' pk=Accesorio.id %}" class= "btn btn-success" type="button">Editar</a>
          <a href = "{% url 'AccesorioEliminar' pk=Accesorio.id %}"class="btn btn-danger" type="submit">Eliminar</a> 
          
        </div>
      {% endfor %}
    </div> -->

    <a href="{% url 'AccesorioCrear' %}" class="btn btn-success" role="button"> Crear Nuevo </a>

{% endblock %}