{% extends 'base.html' %}

{% block titulo %}Productos{% endblock %}

{% block content %} 
  
    <div class= "row">
      <div class = "col-lg-12">
        <div style="display: flex;">
          <h1 style="color: white;">Todos los Accesorios</h1>
          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success " type="submit">Search</button>
          </form>
        </div>
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              {% if 'error' in message.tags or 'warning' in message.tags %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% elif 'success' in message.tags %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
              {% else %}
                <div class="alert" role="alert">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>  

    {% for Accesorio in Accesorio %}
      <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
          <dtitle>{{ Accesorio.categoria }}</dtitle>
          <hr>
          <div class="thumbnail">
            <img src="{{ Accesorio.imagen.url }}" class="img-thumbnail" width="50" height="50"  alt="{{ Accesorio.modelo }}">
          </div><!-- /thumbnail -->
          <h1>{{ Accesorio.marca }}</h1>
          <h3>{{ Accesorio.modelo }}</h3>
          <p>Precio: {{ Accesorio.precio }}</p>
          <p>En stock: {{ Accesorio.existencias}}</p>
          <!-- Otros detalles del producto -->
          <div style="display: flex;">
            <a href= "{% url 'AccesorioEditar' pk=Accesorio.id %}" class= "btn btn-success" type="button" style="flex: 1; margin: 5px;">Editar</a>
            <a href = "{% url 'AccesorioEliminar' pk=Accesorio.id %}"class="btn btn-danger" type="submit" style="flex: 1; margin: 5px;">Eliminar</a> 
        </div>
      </div>
      </div>
    {% endfor %}
      
    

    <!-- <div class="container" >
      {% for Accesorio in Accesorio %}
       <!-- BLOCK 
      <div class="col-sm-3 col-lg-3">
          <img src="{{ Accesorio.imagen.url }}" alt="{{ Accesorio.modelo }}" >
          <h3>{{ Accesorio.marca }}</h3>
          <h3>{{ Accesorio.modelo }}</h3>
          <p>{{ Accesorio.descripcion }}</p>
          <p>Precio: {{ Accesorio.precio }}</p>
          <!-- Otros detalles del producto 
          <a href= "{% url 'AccesorioEditar' pk=Accesorio.id %}" class= "btn btn-success" type="button">Editar</a>
          <a href = "{% url 'AccesorioEliminar' pk=Accesorio.id %}"class="btn btn-danger" type="submit">Eliminar</a> 
          
        </div>
      {% endfor %}
    </div> -->

    <a href="{% url 'AccesorioCrear' %}" class="btn btn-success" role="button"> Crear Nuevo </a>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
    {%  if messages %}
      {% for message in messages %}
        <script>
          {% if 'error' in message.tags or 'warning' in message.tags %}
              Swal.fire({
                "title": "Se ha eliminado",
                "text" : "{{ message }}",
                "icon" : "error"
              })
          {% elif 'success' in message.tags %}    
            Swal.fire({
              "title": "Felicidades",
              "text" : "{{ message }}",
              "icon" : "success"
            })
          {% else %}
              Swal.fire({
                "title": "Información Importante",
                "text" : "{{ message }}",
                "icon" : "warning"
              })
        {% endif %}

       </script>
      {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.eliminar-accesorio-btn').click(function () {
            var accesorioId = $(this).data('accesorio-id');
            $.ajax({
                url: '/ruta-de-tu-vista-eliminar/' + accesorioId + '/',
                type: 'DELETE',
                success: function (data) {
                    // Muestra el mensaje de éxito en un mensaje emergente
                    alert(data.message);
                    // O realiza cualquier otra acción que desees aquí
                },
                error: function () {
                    // Maneja errores si es necesario
                }
            });
        });
    });
    

{% endblock %}